@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter&family=Lobster&family=Montserrat:wght@700&family=Poppins:wght@700&family=Work+Sans:wght@700&display=swap');
body{
    font-family: Work Sans;
    margin: -15px -0px 10px 0px;
}
.first-body{
    background-color: rgba(255, 144, 14, 0.1);
    
}
nav{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 20px 150px;
}
nav h1{
    font-size: 45px;
}
nav div{
    display: flex;
    margin-top: 35px;
    gap: 50px;
    font-size: 18px;
}

.first-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 150px 20px 150px;
}
.first-section h1{
    font-size: 64px;
}
.first-section p{
    width: 862px;
    margin-left: 100px;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
}
.first-section button{
    height: 64px;
    width: 180px;
    text-align: center;
    margin-left: 480px;
    margin-bottom: 50px;
    border-radius: 8px;
    background: #FF900E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(255, 255, 255, 1);
}
.first-section img{
    padding-bottom: 30px;
}
.second-section{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    padding: 40px 60px 100px 60px;
}
.second-section .s2-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    height: 100px;
}
.second-section .s2-Qlist{
    margin-left: 70px;
    margin-top: 110px;
}
.s2-Qlist .span-1{
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #727272;
}
.s2-Qlist .span-2{
    color:  #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.s2-Qlist .span-3{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.s2-Qlist p{
    color:  #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.s2-Qlist button{
    height: 64px;
    width: 180px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 8px;
    background: #FF900E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(255, 255, 255, 1);
}

.third-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin: 100px;
    width: 800px;
}
.s3-first-div h1{
    border-left: 5px solid #FF900E;
    font-size: 45px;
}
.s3-second-div div{
    width: 586px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-top: 20px;
}
.s3-image img{
    width: 640px;
    margin-top: 170px;
}
.s3-image button{
    width: 300px;
    height: 170px;
    border-radius: 8px;
    background: #FF900E;
    color: rgba(255, 255, 255, 1);
    border: 0.5px solid #FF900E;
    position: absolute;
    top: 3030px;
    right: 440px;
}
.s3-image .year{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    line-height: 70px; 
    font-weight: 700;
}
.s3-image .experience{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.fourth-section{
    margin-left: 120px;
    margin-bottom: 90px;
    margin-top: 70px;
}
.fourth-section .s4-head{
    font-size: 45px;
}
.fourth-section .s4-icons div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 241.831px;
    height: 241.831px;
    text-align: center;
    padding-bottom: 30px;
}
.s4-icons div h1{
    margin-bottom: -30px;
}
.s4-icons div img{
    padding-left: 95px;
    padding-top: 70px;
}
.s4-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
}